package layouts

import "chatpilot/app/web/templates/components"

templ AuthLayout(pageTitle string, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@components.Head()
		<body class="bg-rose-pine-base text-rose-pine-text">
			<!-- ===== Page Wrapper Start ===== -->
			@content
			<!-- ===== Page Wrapper End ===== -->
			<script>
    lucide.createIcons();
  </script>
		</body>
	</html>
}
