package pages

import "chatpilot/app/web/templates/layouts"

templ indexContent() {
<span class="text-sm text-gray-500 dark:text-gray-400">Home page</span>
}

templ IndexPage() {
@layouts.DashboardLayout("Home", indexContent())
}
